version: '3'

services:
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  web:
    build: ./sakakeja-back-end
    command: ["uwsgi", "--http", ":8000", "--ini", "./uwsgi/uwsgi.ini"]
    volumes:
      - ./sakakeja-back-end:/SakaBackend
    environment:
      - DJANGO_SETTINGS=production
      - DJANGO_SECRET_KEY=9%8x+#y#)amqd(za_#v-ibrs^x#z_p1hx4g(($4-i+yyto(79c
    ports:
      - "8000:8000"
    depends_on:
      - db
  # nginx:
  #   build: ./nginx
  #   ports:
  #     - 1337:80
  #   depends_on:
  #     - web
  #   volumes:
  #     - static_volume:/SakaBackend/static
  #     - media_volume:/SakaBackend/media
volumes:
  postgres_data:
  sakakeja-back-end:
