version: '3'

services:
  db:
    image: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  web:
    build: ./sakakeja-back-end
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./sakakeja-back-end:/SakaBackend
    environment:
      - DEBUG=1
    ports:
      - "8000:8000"
    depends_on:
      - db
  # nginx:
  #   build: ./nginx
  #   ports:
  #     - 1337:80
  #   depends_on:
  #     - web
  #   volumes:
  #     - static_volume:/SakaBackend/static
  #     - media_volume:/SakaBackend/media
volumes:
  postgres_data:
  sakakeja-back-end:
